#producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30PX;
    margin-bottom: 50px;
}
#prod{
    display: none;
}
.count{
    text-align: center;
    border: 2px solid black;
}